<div class="right_col" role="main">
  <div class="">
    
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Programming Contest <small>Register a Team</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />

        <%if(error.length>0){if(error=="Team has been registered successfully!"){%>
            <div class= "alert alert-success"><%=error%></div>
             <%}else{%>
            <div class="alert alert-danger"><%=error%></div>
          <%}%> <%}%>

                  <form method="POST" action="/ProgrammingContest/register" id="demo-form2" data-parsley-validate
                    class="form-horizontal form-label-left">
                    <div class="item form-group">
                      <div class="col-md-4 col-sm-4">
                        <input type="text" name="teamName" required="required" class="form-control"
                          placeholder="Team Name" />
                      </div>
  
                      <div class="col-md-4 col-sm-4">
                        <input type="text" id="institute" name="institute" required="required" class="form-control"
                          placeholder='Institution Name' />
                      </div>
                    </div>
  
  
                    <label for="first-name">
                      <h5>Information Regarding The Coach</h5>
                    </label>
                    <div class="item form-group">
                      <div class="col-md-4 col-sm-4">
                        <input type="text" id="coachName" name="coachName" required="required" class="form-control "
                          title="Coach Name" placeholder="Name" />
                      </div>
  
                      <div class="col-md-4 col-sm-4">
                        <input type="text" id="coachContact" name="coachContact" required="required" class="form-control"
                          title="Coach Contact No" placeholder="Contact No." />
                      </div>
                      <div class="col-md-4 col-sm-4">
                        <input type="text" id="coachEmail" name="coachEmail" required="required" class="form-control"
                          title="Coach Email" placeholder="Email" />
                      </div>
  
                    </div>
                    <label for="first-name">T-Shirt Size of the Coach
                    </label>
                    <div class="item form-group">
  
                      <div class="col-md-4 col-sm-4">
                        <select class="form-control" id="coachTshirt" name="coachTshirt">
                          <option>---Choose option---</option>
                          <option value="M">Medium</option>
                          <option value="L">Large</option>
                          <option value="XL">Extra Large</option>
                        </select>
                      </div>
                    </div>
                    <br />
  
                    <label for="first-name">
                      <h5>Information Regarding Team Leader</h5>
                    </label>
                    <div class="item form-group">
                      <div class="col-md-4 col-sm-4">
                        <input type="text" id="tleadName" name="tleadName" required="required" class="form-control"
                          title="Team Leader Name" placeholder="Name" />
                      </div>
  
                      <div class="col-md-4 col-sm-4">
                        <input type="text" id="tleadContact" name="tleadContact" required="required" class="form-control"
                          title="Team Leader Contact No" placeholder="Contact No." />
                      </div>
                      <div class="col-md-4 col-sm-4">
                        <input type="text" id="tleadEmail" name="tleadEmail" required="required" class="form-control"
                          title="Team Leader Email" placeholder="Email" />
                      </div>
  
                    </div>
                    <label for="first-name">T-Shirt Size of Team Leader
                    </label>
                    <div class="item form-group">
  
                      <div class="col-md-4 col-sm-4">
                        <select class="form-control" id="tleadtshirt" name="tleadtshirt">
                          <option>---Choose option---</option>
                          <option value="M">Medium</option>
                          <option value="L">Large</option>
                          <option value="XL">Extra Large</option>
                        </select>
                      </div>
                    </div>
  
                    <br />
                    <label for="first-name">
                      <h5>Information Regarding Team Member 1</h5>
                    </label>
                    <div class="item form-group">
                      <div class="col-md-4 col-sm-4">
                        <input type="text" id="tm1Name" name="tm1Name" required="required" class="form-control"
                          title="Team Member 1 Name" placeholder="Name" />
                      </div>
  
                      <div class="col-md-4 col-sm-4">
                        <input type="text" id="tm1Contact" name="tm1Contact" required="required" class="form-control"
                          title="Team Member 1 Contact No"
                          placeholder='Contact No.' />
                      </div>
                      <div class="col-md-4 col-sm-4">
                        <input type="text" id="tm1Email" name="tm1Email" required="required" class="form-control"
                          title="Team Member 1 Email" placeholder="Email" />
                      </div>
  
                    </div>
                    <label for="first-name">T-Shirt Size of Team Member 1
                    </label>
                    <div class="item form-group">
  
                      <div class="col-md-4 col-sm-4">
                        <select class="form-control" id="tm1tshirt" name="tm1tshirt">
                          <option>---Choose option---</option>
                          <option value="M">Medium</option>
                          <option value="L">Large</option>
                          <option value="XL">Extra Large</option>
                        </select>
                      </div>
                    </div>
  
                    <br />
  
                    <label for="first-name">
                      <h5>Information Regarding Team Member 2</h5>
                    </label>
                    <div class="item form-group">
                      <div class="col-md-4 col-sm-4">
                        <input type="text" id="tm2Name" name="tm2Name" required="required" class="form-control"
                          title="Team Member 2 Name" placeholder="Name" />
                      </div>
  
                      <div class="col-md-4 col-sm-4">
                        <input type="text" id="tm2Contact" name="tm2Contact" required="required" class="form-control"
                          title="Team Member 2 Contact NO"
                          placeholder='Contact No.' />
                      </div>
                      <div class="col-md-4 col-sm-4">
                        <input type="text" id="tm2Email" name="tm2Email" required="required" class="form-control"
                          title="Team Member 2 Email" placeholder="Email" />
                      </div>
  
                    </div>
                    <label for="first-name">T-Shirt Size of Team Member 2
                    </label>
                    <div class="item form-group">
  
                      <div class="col-md-4 col-sm-4">
                        <select class="form-control" id="tm2tshirt" name="tm2tshirt">
                          <option>---Choose option---</option>
                          <option value="M">Medium</option>
                          <option value="L">Large</option>
                          <option value="XL">Extra Large</option>
                        </select>
                      </div>
                    </div>
  
  
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                      <div class="col-md-6 col-sm-6 offset-md-3">
                        <button class="btn btn-primary" type="reset">Reset</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </div>
                  </form>
  
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
